.navbar .btn {
  white-space: nowrap;
}

.navbar .btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.navbar .btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}
